TAntAutoHintLabel BITMAP "AntAutoHintLabel.bmp"
TAntButtonEdit BITMAP "AntButtonEdit.bmp"
TAntJvZoom BITMAP "AntJvZoom.bmp"
TAntSpinEdit BITMAP "AntSpinEdit.bmp"
TAntStringList BITMAP "AntStringList.bmp"
TAntJvHotLink BITMAP "AntJvHotLink.bmp"
TAntJvLabel BITMAP "AntJvLabel.bmp"
TAntJvLinkLabel BITMAP "AntJvLinkLabel.bmp"
TAntJvTranslatorStrings BITMAP "AntJvTranslator.bmp"
TAntJvSpecialProgress BITMAP "AntJvSpecialProgress.bmp"
TAntJvTrayIcon BITMAP "AntJvTrayIcon.bmp"
TAntJvScrollText BITMAP "AntJvScrollText.bmp"
TAntJvListView BITMAP "AntJvListView.bmp"
TAntJvGroupHeader BITMAP "AntJvGroupHeader.bmp"
TAntJvSpinEdit BITMAP "AntJvSpinEdit.bmp"
TAntJvComboEditXP BITMAP "AntJvToolEdit.bmp"

